body{
    text-align: center;
    font-family: Arial,sans-serif;
}
.lamp{
    width: 100px;
    height: 150px;
    background-color: gray;
    display: inline-block;
    border-radius: 50% 50% 40% 40%;
    margin-top: 20px;
}
.on{
    background-color: yellow;
}